<div class="table-responsive table-container">
    <table class="table table-bordered table-striped">

        <thead>
          <tr>

            <!-- Table Headers -->
            <th>ID <i (click)="sortDataBy('id')" class="fas fa-sort"></i></th>
            <th>Name <i (click)="sortDataBy('name')" class="fas fa-sort"></i></th>

            <!-- Product Headers Only -->
            <ng-container *ngIf="datasetName === 'products'">
                <th>Full Price <i (click)="sortDataBy('fullPrice')" class="fas fa-sort"></i></th>
                <th>Sale Price <i (click)="sortDataBy('salePrice')" class="fas fa-sort"></i></th>
                <th>Discount <i (click)="sortDataBy('discount')" class="fas fa-sort"></i></th>
                <th>Category <i (click)="sortDataBy('categoryName')" class="fas fa-sort"></i></th>
                <th>Supplier <i (click)="sortDataBy('supplierName')" class="fas fa-sort"></i></th>
                <th>Availability</th>
            </ng-container>
            
            <th></th>
          </tr>
        </thead>

        <tbody *ngIf="dataset">
            <tr *ngFor="let dataItem of dataset" [attr.id]="dataItem.id" [ngClass]="dataItem.id === selectedId ? 'hide' : null">

                <!-- Data -->
                <td>{{ dataItem.id }}</td>
                <td>{{ dataItem.name }}</td>

                <!-- Product Data Only -->
                <ng-container *ngIf="datasetName === 'products'">
                    <td>{{ dataItem.fullPrice | currency }}</td>
                    <td>{{ dataItem.salePrice | currency }}</td>
                    <td>{{ 1 - dataItem.salePrice / dataItem.fullPrice | percent }}</td>
                    <td [attr.id]="'categoryId_' + dataItem.category.id">{{ dataItem.category.name }}</td>
                    <td [attr.id]="'supplierId_' + dataItem.supplier.id">{{ dataItem.supplier.name }}</td>
                    <td>{{ dataItem.availability }}</td>
                </ng-container>

                <td class="text-right" id="tableDataBtns">
                    <div class="btn-group" role="group">
                        <button type="button" (click)="updateItem(dataItem)" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                        <button type="button" (click)="removeItem(dataItem)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>