:host {
  --color-primary: #3a5a78;
  --color-tertiary: #f7941f;
}

.hide {
  background-color: rgba(200, 233, 199, 0.4) !important;
}

table input {
  border-radius: 4px;
  padding: .35rem .5rem;
  width: 80%;;
}

select {
  width: 100%;
}

label {
  padding: 0;
  margin: 0;
}

.table-container {
  margin-top: 15px;
}

.table-responsive>.table-bordered {
  border-left: 14px solid var(--color-tertiary);
}

th {
  color: var(--color-primary);
  white-space: nowrap;
}

table td {
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  padding: .35rem .75rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(228,239,246,.25);
}

td.checkbox-container {
  vertical-align: middle;
  text-align: center;
}

.filtered-column {
  background-color: var(--color-tertiary);
  color: #fff;
}

.sorted {
  background-color: #e4eff6;
}