<div class="table-responsive table-container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th># <i (click)="showProductsSortedBy('productId')" class="fas fa-sort"></i></th>
                <th>Name <i (click)="showProductsSortedBy('productName')" class="fas fa-sort"></i></th>
                <th>Category <i (click)="showProductsSortedBy('category')" class="fas fa-sort"></i></th>
                <th>Full Price <i (click)="showProductsSortedBy('fullPrice')" class="fas fa-sort"></i></th>
                <th>Sale Price <i (click)="showProductsSortedBy('salePrice')" class="fas fa-sort"></i></th>
                <th>Discount <i (click)="showProductsSortedBy('discount')" class="fas fa-sort"></i></th>
                <th>Availability</th>
                <th>Supplier <i (click)="showProductsSortedBy('supplier')" class="fas fa-sort"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="products">
            <tr *ngFor="let product of products">
                <td>{{ product.productId }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.category.categoryName }}</td>
                <td>{{ product.fullPrice | currency }}</td>
                <td>{{ product.salePrice | currency }}</td>
                <td>{{ 1 - product.salePrice / product.fullPrice | percent }}</td>
                <td>{{ product.availability }}</td>
                <td>{{ product.supplier.supplierName }}</td>
                <td class="text-right" id="tableDataBtns">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination 
    [pages]="pages" 
    [currentPage]="currentPage"
    (onPrevPage)="handlePrevPage()"
    (onNextPage)="handleNextPage()"
    (onGoToPage)="handleGoToPage($event)"
></app-pagination>
<app-modal-product-form></app-modal-product-form>